mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.container {
  max-width: 1280px;
}

::ng-deep .user-menu {
  margin-top: 8px;
}

::ng-deep .user-menu .mat-mdc-menu-content {
  padding: 0 !important;
}