@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-green-button {
  background-color: #15803d !important; /* green-700 */
  color: white !important;
}

.mat-green-button:hover {
  background-color: #166534 !important; /* green-800 */
}

/* Efeito de hover nos cards */
.bg-white:hover {
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

/* Espaçamento consistente para os ícones */
mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
